<a href="https://colab.research.google.com/github/engelbertavania/Multimedia-Computing/blob/main/Notebooks%20/lab_class_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Data Structures
Data structures are essential for organizing, managing, and storing data in a program. Python provides built-in data structures like **Lists, Tuples, Sets, and Dictionaries** that offer different functionalities and use cases.

##List
Ordering: Lists are ordered collections.
Mutability: Lists are mutable; they can be modified after creation.
Duplicates: Lists allow duplicate elements.
Syntax: Lists are created using square brackets **[]**.
A common use case for lists is storing and accessing a collection of items in a specific order.

In [ ]:
# Creating a list of student names
student_names = ["Alice", "Bob", "Charlie", "David", "Charlie"]

# Adding a student to the list
student_names.append("Eve")

# Removing a student from the list
student_names.remove("Bob")

# Iterating through the list of student names
for name in student_names:
    print(name)

Alice
Charlie
David
Charlie
Eve

##Dictionaries
Ordering: Dictionaries are unordered collections.
Mutability: Dictionaries are mutable; they can be modified after creation.
Duplicates: Dictionaries do not allow duplicate keys, but values can be duplicated.
Structure: Dictionaries consist of **key-value pairs**.
Syntax: Dictionaries are created using curly brackets **{} **with **key-value pairs separated by colons**.
Dictionaries are useful for storing key-value pairs and efficiently accessing values using their keys.

In [ ]:
# Creating a dictionary that maps student names to their ages
student_ages = {"Alice": 20, "Bob": 22, "Charlie": 21}

# Adding a new student to the dictionary
student_ages["David"] = 23

# Updating a student's age
student_ages["Alice"] = 21

# Iterating through the dictionary and printing student names and ages
for name, age in student_ages.items():
    print(name, "is", age, "years old")

Alice is 21 years old
Bob is 22 years old
Charlie is 21 years old
David is 23 years old

##Tuples
Ordering: Tuples are ordered collections.
Mutability: Tuples are immutable; they cannot be modified after creation.
Duplicates: Tuples allow duplicate elements.
Syntax: Tuples are created using round brackets **()**.
Tuples are useful when you have a fixed collection of items that should not change throughout the program's execution.

In [ ]:
# Defining coordinates as a tuple
coordinates = (12.34, 56.78)

# Accessing the longitude and latitude
longitude, latitude = coordinates

# Tuples can be used as keys in dictionaries
capital_cities = {("United States", "California"): "Sacramento", ("France", "ÃŽle-de-France"): "Paris"}

# Accessing the capital city of California, United States
capital = capital_cities[("United States", "California")]
print(capital)

Sacramento

##Sets
Ordering: Sets are unordered collections.
Mutability: Sets are mutable; they can be modified after creation.
Duplicates: Sets do not allow duplicate elements.
Syntax: Sets are created using curly brackets **{}**.
Sets are useful for efficiently storing unique values and performing set operations.

In [ ]:
# Creating sets of unique hobbies for two people
hobbies_alice = {"reading", "hiking", "cooking"}
hobbies_bob = {"cooking", "painting", "cycling"}

# Finding common hobbies
common_hobbies = hobbies_alice.intersection(hobbies_bob)
print("Common hobbies:", common_hobbies)

# Finding the union of hobbies
all_hobbies = hobbies_alice.union(hobbies_bob)
print("All hobbies:", all_hobbies)

Common hobbies: {'cooking'}
All hobbies: {'cooking', 'painting', 'cycling', 'hiking', 'reading'}

##**Defining and calling functions**
To define a function in Python, use the def statement, followed by a function name, parentheses (), and a colon :. The function body is indented, usually by 4 spaces. Functions can return values using the return statement. And to call a function, simply use the function's name followed by parentheses ().

In [ ]:
def add_numbers(a, b):
    return a + b

In [ ]:
def absolute(value):
  if value > 0:
    return value
  return value * -1

In [ ]:
absolute(10)

10

In [ ]:
def absolute(value):
  if value > 0:
    return value
  return value * -1

##Arguments and Parameters
Functions can have input values, called arguments, which are passed to the function when it is called. Within the function, these input values are known as parameters. Parameters are defined within the parentheses () in the function definition, and arguments are passed to the function within the parentheses when calling the function.

In [ ]:
def addition(x, y):
  return x + y

def substraction(x, y):
  return x - y

In [ ]:
addition(3,5)
substraction(4,6)

-2

In [ ]:
addition(3,5)

8

In [ ]:
substraction(4,6)

-2

##Lambda functions
Lambda functions, also known as anonymous functions, are small, single-expression functions in Python that you can define using the lambda keyword. They are useful for short, simple operations and can be defined in one line. Lambda functions are useful when working with functions like map(), filter() or sorted(), where a small function needs to be passed.

In [ ]:
# A lambda function to add two numbers:
add = lambda x, y: x + y
result1 = add(5, 3)
print(result1)

# A lambda function to find the square of a number:
square = lambda x: x**2
result2 = square(4)
print(result2)

# sorting a list of strings by length:
text_list = ["apple", "banana", "cherry", "kiwi"]
sorted_list = sorted(text_list, key=lambda x: len(x))
print(sorted_list)

8
16
['kiwi', 'apple', 'banana', 'cherry']

In [ ]:
add = lambda x, y: x + y
result1 = add(5, 3)
print(result1)

8

In [ ]:
def addition(x, y):
  return x + y

In [ ]:
result = addition(5, 3)

In [ ]:
result

8

In [ ]:
result == None

False

In [ ]:
type(result)

int

In [ ]:
def addition2(x, y):
  print(x+y)

In [ ]:
result1 = addition2(5, 3)

8

In [ ]:
result1

In [ ]:
result1 == None

True

In [ ]:
type(result1)

NoneType

##Built-in functions
Python comes with numerous built-in functions that are readily available for use. These are just a few examples of the built-in functions available in Python that are commonly used. There are many other built-in functions that can save time and simplify code when working with data. Refer to the official Python documentation for the complete list: Python Built-in Functions

##sorted()
sorted(iterable, *, key=None, reverse=False): Returns a new sorted list from the specified iterable.

In [ ]:
my_list = [3, 2, 5, 1, 4]
sorted_list = sorted(my_list)
print(sorted_list)

[1, 2, 3, 4, 5]

##map()
map(function, iterable): Applies a given function to all items in the input iterable, such as lists or tuples, and returns an iterable of the results.

In [ ]:
i=1
result = []

for i in range(1,6):
  result.append(i**2)

print(result)

[1, 4, 9, 16, 25]

In [ ]:
numbers = range(1,6)
squares = list(map(lambda x: x**2, numbers))
print(squares)

[1, 4, 9, 16, 25]

##filter()
filter(function, iterable): Filters the elements from an iterable, passing only those elements for which the input function returns True.

In [ ]:
numbers = [1, 2, 3, 4, 5]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4]

##zip()
zip(*iterables): Combines multiple iterables, like lists or tuples, into a single iterable, pairing elements at the same index in each input iterable.

In [ ]:
names = ["Alice", "Bob", "Carol"]
ages = [30, 25, 28]
combined = list(zip(names, ages))
print(combined)

[('Alice', 30), ('Bob', 25), ('Carol', 28)]

In [ ]:
type(combined[0])

tuple

In [ ]:
type(combined)

list